.HeaderGral{
    display: flex;
    background-color: darkgray;
    justify-content: space-between;
}
.SubHeader{
    display: flex;
    padding: 19px;
    width: 25%;
    justify-content: space-between;
}

.titulo{
    padding-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    }

.titulo a{
    color: black;
}

.orientacion:hover{
    cursor: pointer;
}

