.hide{
    display: none;

}
.show{
    display: block;
}

.image{
    height: 100%;
    width: 100%;

}


.ViewMore{
    background-color: lightgreen;
}
.ViewMore:hover{
    cursor: pointer;    
}

.TarjetaIndividual:hover{
    background-color: lightgray;
}

.TarjetaIndividual{
   width: 20%;
   padding: 10px;
   margin-bottom: 15px;
   margin-top: 15px;
   background: grey;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
   min-height: 620px;
}

.vertical{
    width:100%;
    margin:10px 0;
    background-color:rgba(57, 55, 63, 0.445);
    border-radius: 10px;
    overflow:hidden;
    
}

