.TarjetasGeneral{
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.alolargo{

background-color: black;
margin: 0px;

    }

.agregarbtn{
 width: 100%;
 background-color: grey;
 margin: 0px;

}

.agregarbtn:hover{
    background-color: lightgray;
}