.TarjetasGeneral{
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.Vertical{
    width: 100%;
    }

.agregarbtn{
 width: 100%;
 background-color: grey;

}

.agregarbtn:hover{
    background-color: lightgray;
}